<div *ngIf="blog" class="row">
  <div class="col-md-12">
    <!-- <h2 *ngIf="blog._id">Blog Conent</h2> -->
    <h2 *ngIf="!blog._id">New Blog</h2>
  </div>
</div>
<div *ngIf="blog" class="row">
  <form class="col-md-12">
    <div class="form-group">
      <label *ngIf="!blog._id" for="blog-name">Name</label>
      <input *ngIf="!blog._id" class="form-control" name="blog-name" [(ngModel)]="blog.name" placeholder="Blog Name" />
      <h2 *ngIf="blog._id">{{blog.name}}</h2>
    </div>
    <div class="form-group">
      <label *ngIf="!blog._id" for="blog-doc-author">Author's Name</label>
      <input *ngIf="!blog._id" class="form-control" name="blog-doc-author" [(ngModel)]="blog.doc.author" placeholder="Author Name" />
      <em *ngIf="blog._id">{{blog.doc.author}}</em>
    </div>
    <div class="form-group">
      <label *ngIf="!blog._id" for="blog-doc-content">Content</label>
      <textarea *ngIf="!blog._id" class="form-control text-content" name="blog-doc-content" [(ngModel)]="blog.doc.content"
        placeholder="Content..."></textarea>
      <p *ngIf="blog._id" class="contents">{{blog.doc.content}}</p>
    </div>



    <!-- <button class="btn btn-primary" *ngIf="!blog._id" (click)="createBlog(blog)">Save</button>
    <button class="btn btn-info" *ngIf="blog._id" (click)="updateBlog(blog)">Update</button>
    <button class="btn btn-danger" *ngIf="blog._id" (click)="deleteBlog(blog._id)">Delete</button> -->

    <button class="ol-btn green-btn" *ngIf="!blog._id" (click)="createBlog(blog)">Save</button>
    <!-- <button class="btn btn-info" *ngIf="blog._id" (click)="updateBlog(blog)">Update</button> -->
    <button class="ol-btn red-btn" *ngIf="blog._id" (click)="deleteBlog(blog._id)">Delete</button>
  </form>
</div>
